@font-face {
  font-family: "element-icons"; /* Project id 2851715 */
  src: url('iconfont.eot?t=1748754639449'); /* IE9 */
  src: url('iconfont.eot?t=1748754639449#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1748754639449') format('woff2'),
       url('iconfont.woff?t=1748754639449') format('woff'),
       url('iconfont.ttf?t=1748754639449') format('truetype'),
       url('iconfont.svg?t=1748754639449#element-icons') format('svg');
}

.element-icons {
  font-family: "element-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.el-icon-save:before {
  content: "\e667";
}

.el-icon-all_filter:before {
  content: "\e605";
}

.el-icon-filter:before {
  content: "\e674";
}

.el-icon-jiahao:before {
  content: "\e613";
}

.el-icon-online:before {
  content: "\e62c";
}

.el-icon-away:before {
  content: "\e60d";
}

.el-icon-offline:before {
  content: "\e6e6";
}

.el-icon-busy:before {
  content: "\e655";
}

.el-icon-doNotDisturb:before {
  content: "\e604";
}

.el-icon-github:before {
  content: "\e85a";
}

.el-icon-yingwen:before {
  content: "\e616";
}

.el-icon-zhongwen:before {
  content: "\e617";
}

.el-icon-zhcn:before {
  content: "\e69b";
}

.el-icon-en:before {
  content: "\e600";
}

